<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <form method="POST" action="result">
        {% csrf_token %}
        <input type="number" name="fnum" placeholder=" Enter First number:">
       
        <input type="number" name="snum" placeholder=" Enter Second number:">
        <input type="submit"value="submitt" name="subm">
    {{answer}}
    </form>
</body>
</html>